# git ignore.

*/target
*.iml
*.class
*.log
*.gz
.idea
.metadata
*.classpath
*.settings
*.project
*.jar
*.war
*.swp
logs
.DS_Store
.project
.settings
.dbeaver
temp
.sts4-cache
bash.exe.*
.vscode
/bash.exe.stackdump
/bin/
.factorypath
.pmdCache
target
